<?xml version="1.0"?>
<!--
  ###license-information-start###
  E-PIX - Enterprise Patient Identifier Cross-referencing
  __
  Copyright (C) 2009 - 2017 The MOSAIC Project - Institut fuer Community Medicine der
  							Universitaetsmedizin Greifswald - mosaic-projekt@uni-greifswald.de
  							concept and implementation
  							c. schack, d.langner, l. geidel
  							web client
  							a. blumentritt
  							g. weiher
  							please cite our publications
  							http://dx.doi.org/10.3414/ME14-01-0133
  							http://dx.doi.org/10.1186/s12967-015-0545-6
  __
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ###license-information-end###
  -->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <!-- Database connection settings -->
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://127.0.0.1:3306/epix_dev</property>
  <property name="connection.username">epix</property>
  <property name="connection.password">epix2011</property>
  <!--p2i0x1m1an
 JDBC connection pool (use the built-in) -->
  <property name="connection.pool_size">4</property>
  <!-- SQL dialect -->
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <!-- Disable the second-level cache -->
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- Echo all executed SQL to stdout -->
  <property name="show_sql">false</property>
  <!-- Drop and re-create the database schema on startup -->
  <property name="hibernate.hbm2ddl.auto">update</property>
  <!--create-drop -->
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.Person"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.PersonLink"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.Patient"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.HealthcareProvider"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.Contact"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.Identifier"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.IdentifierDomain"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.Project"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.IDType"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.Account"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.Role"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.PersonHistory"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.PatientHistory"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.HealthcareProviderHistory"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.ContactHistory"/>
  <mapping class="org.emau.icmvc.ganimed.epix.core.persistence.model.IdentifierHistory"/>
 </session-factory>
</hibernate-configuration>
